<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Portfolio Blog</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <!-- Compiled and minified CSS -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
   <link rel="stylesheet" href="/stylesheets/app.css">
   <!-- Compiled and minified JavaScript -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  </head>
  <body>
    <nav>
      <div class="navbar-fixed">
    <div class="nav-wrapper #00695c teal darken-3">
      <a href="#" class="brand-logo center"><i class="large material-icons">create</i>Tech Blog</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/about">About</a></li>

        <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Categories<i class="material-icons right">arrow_drop_down</i></a></li>
        <li><a href="#" data-activates="slide-out" class="button-collapse show-on-large right">
          <!-- <i class="material-icons">menu</i></a> -->
        </li>
      </ul>
<!-- DROPDOWN -->
      <ul id="dropdown1" class="dropdown-content">
  <li><a href="/html">HTML</a></li>
  <li class="divider"></li>
  <li><a href="/javascript">JavaScript</a></li>
  <li class="divider"></li>
  <li><a href="/css">CSS</a></li>

</ul>
<!-- SIDENAV -->
<ul id="slide-out" class="sidenav">
   <li><div class="user-view">
     <div class="background">
       <img src="images/office.jpg">
     </div>
     <a href="#user"><img class="circle" src="images/yuna.jpg"></a>
     <a href="#name"><span class="white-text name">John Doe</span></a>
     <a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a>
   </div></li>
   <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
   <li><a href="#!">Second Link</a></li>
   <li><div class="divider"></div></li>
   <li><a class="subheader">Subheader</a></li>
   <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
 </ul>
    </div>
  </div>

  </nav>
