<% include ./partials/header %>
<center>


  <div class="col s12">
    <h1><%= blog.title %></h1>
<!-- <div class="card"> -->
    <img class=" responsive z-depth-5" src="<%= blog.image %>" alt="fdada">
<!-- </div> -->
    <p><%= blog.body %></p>

</div>

</center>
<% include ./partials/footer %>
